p {
  color: red;
  text-align: center;
  font-size: 1.3em;
}
a {
  color: blue;
}

body {
    font-size: 14px;
    color: navy;
   font-family: arial, helvetica, sans-serif;
  background-color: mediumpurple;
}

h1 {
  color: limegreen;
  backround-color: #009;
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
  background-color: #ccc;
    margin: 5px;
    padding: 20px;
  border-style: dashed;
  border-width: 3px;
  border-left-width: 10px;
  border-right-width: 10px;
  border-top-width: 10px;
  border-bottom-width: 10px;
  border-color: red;
  
}

a {
  text-decoration: none;
}

strong {
  font-style: italic;
  text-transform: uppercase;
}