p {
  color: red;
}
a {
  color: blue;
}

body {
    font-size: 14px;
    color: navy;
   font-family: arial, helvetica, sans-serif;
}

h1 {
  color: limegreen;
  backround-color: #009;
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
  background-color: #ccc;
    margin: 20px;
    padding: 40px;
}

a {
  text-decoration: none;
}

strong {
  font-style: italic;
  text-transform: uppercase;
}